[buildout]
develop = . 
parts =
    test
    scripts

[test]
recipe = zc.recipe.testrunner
eggs =
    zodbpickle [test]
# there's test_pickle_2 for Python 2 and test_pickle_3 for Python 3
# different test files because metaclass syntax differs on Pythons
# test_pickle picks and returns the appropriate one
# without this we'd get an import error (actually syntax error) for one
# of them
defaults = ['-m', 'zodbpickle.tests.test_pickle$']

[scripts]
recipe = zc.recipe.egg
eggs = zodbpickle [test]
interpreter = py
