include *.py
include *.rst
include *.txt
include tox.ini
include appveyor.yml
include buildout.cfg
include patches/*.diff

recursive-include src *

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
